

<h1>hii this partial view</h1>

<style>
     .row {
            padding: 10px;
            width: 450px;
        }

        .Width150px {
            width: 100px;
            display: inline-block;
        }
        #tabeldata tr:nth-child(even) {
            background-color: darkgrey;

        }
</style>


<script>
    $(document).ready(function () {
        //$("userdata").load("/Home/displaydata");
        debugger;
        $.ajax({
            type: "POST",
            url: "/Home/displaydata",
            //data: '{customerId: "' + customerId + '" }',
            contentType: "application/json; charset=utf-8",
         
            success: function (response) {
                alert(response.name);
             
            },
           
            error: function (response) {
                alert(response.responseText);
            }
        });
      
    });
    $('#exportpdf').click(function () {
        alert("call pdf");
    });

   
  


</script>
<div id="divSearchResult">

</div>
<button value="Export" id="exportpdf" class="btn btn-primary">Export</button>
<table id="tabeldata" data-actionurl="@Url.Action("displaydata", "Home",  ViewBag.userdata)">
    <thead style="background-color:cornflowerblue">
        <tr>
            <th style="visibility:hidden">ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>EMAIL</th>
            <th>PHONE NO</th>
            <th>DATE OF BIRTH</th>
            <th>GENDER</th>
            <th>LANGUAGE</th>
            <th>ADDRESS</th>
        </tr>
    </thead>
    <tbody class="tbody">

        @foreach (var item in ViewBag.userdata)
            {
            <tr>
                <td style="visibility:hidden">@item.id</td>
                <td>@item.name</td>
                <td>@item.password</td>
                <td>@item.email</td>
                <td>@item.phno</td>
                <td>@item.dateofbirth</td>
                <td>@item.gender</td>
                <td>@item.language</td>
                <td>@item.address</td>

            </tr>
        }



    </tbody>

</table>

