
@{
    ViewBag.Title = "displaydata";
     Layout = "~/Views/Shared/_Homelayout.cshtml";
}

<h2>displaydata</h2>


<html>
<head>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
 @*<script>     https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/css/tableexport.css </script>*@ 


    <style>
        .row {
            padding: 10px;
            width: 450px;
        }

        .Width150px {
            width: 100px;
            display: inline-block;
        }

        #tabeldata tr:nth-child(even) {
            background-color: darkgrey;
        }

        .gfg {
            /*// word-wrap:break-word;*/
            word-break: break-word;
        }
    </style>


    <script>
        //$(document).ready(function () {

        //    //$("userdata").load("/Home/displaydata");
        //    debugger;
        //    $.ajax({
        //        type: "POST",
        //        url: "/Home/displaydata",
        //        //data: '{customerId: "' + customerId + '" }',
        //        contentType: "application/json; charset=utf-8",

        //        success: function (response) {
        //            alert(response.name);

        //        },

        //        error: function (response) {
        //            alert(response.responseText);
        //        }
        //    });

        //});
        $(document).ready(function () {
            alert("documeny loadedd");
            $("#pdf").on("click", function () {
                debugger;
                // document.getElementById("p1").innerHTML = "Paragraph changed!";
                alert("called function");
                var doc = new ('landscape', 'pt', 'a4', true);
                // doc.setTextColor(255, 0, 0);
                doc.setDisplayMode(100);
                doc.setFontSize(8);
                var header = [1, 2, 3, 4];
                source = $('#tabeldata');
                specialElementHandlers = {
                    // element with id of "bypass" - jQuery style selector
                    '#bypassme': function (element, renderer) {
                        // true = "handled elsewhere, bypass text extraction"
                        return true
                    }
                };
                margins = {
                    top: 180,
                    bottom: 160,
                    left: 140,
                    width: 45000
                };
                doc.fromHTML($('#table-container').html(), 100, 100, {
                    'width': 1570,
                    'elementHandlers': specialElementHandlers
                });

                doc.save('sample-file.pdf');
                //      pdf.fromHTML(
                //source, // HTML string or DOM elem ref.
                //margins.left, // x coord
                //margins.top, { // y coord
                //    'width': margins.width, // max width of content on PDF
                //    'elementHandlers': specialElementHandlers
                //},

                //function (dispose) {
                //    debugger;
                //    // dispose: object with X, Y of the last line add to the PDF
                //    //          this allow the insertion of new lines after html
                //    pdf.save('Test.pdf');
                //}, margins);

            });
        });


      

        function generate() {
            alert("generate");
            var doc = new jsPDF('p', 'pt', 'a4');
            var res = doc.autoTableHtmlToJson(document.getElementById("tabeldata"));
            doc.autoTable(res.columns, res.data, { margin: { top: 100 } });
            var header = function (data) {
                doc.setFontSize(16);
                doc.setTextColor(40);
                doc.setFontStyle('normal');
                //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
                doc.text("Testing Report", data.settings.margin.left, 100);
            };

            var options = {
                beforePageContent: header,
                margin: {
                    top: 100
                },
                startY: doc.autoTableEndPosY() + 50
            };
            doc.autoTable(res.columns, res.data, options);
            doc.save("table.pdf");
        }
        function newgenerate() {
            alert(" new generate");
            var pdf = new jsPDF('p', 'pt', 'a4');
            //var source = document.getElementById('table-container').innerHTML;
            console.log(document.getElementById('table-container'));
            var margins = {
                top: 45,
                bottom: 10,
                left: 140,
                width: 2000
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.text(20, 20, 'Hello world.');
            pdf.addHTML(document.table, margins.top, margins.left, {}, function () {
                pdf.save('test.pdf');
            });
        };



    </script>
</head>
<body>
     <input type="submit" id="exportpdf" value="Save As Pdf" onclick="newgenerate();" />
    <input type="submit" id="pdf" value="pdf" />
    <input type="submit" id="exportpdf" value="Save As Pdf" onclick="generate();" />
    <div id="table-container">

        <table id="tabeldata" style="left:10px" data-actionurl="@Url.Action("displaydata", "Home",  ViewBag.userdata)">
           
            <thead id="thea" style="background-color:cornflowerblue">

                <tr>
                    <th style="visibility:hidden">ID</th>
                    <th >NAME</th>
                    <th >PASSWORD</th>
                    <th >EMAIL</th>
                    <th >PHONE NO</th>
                    <th>DATE OF BIRTH</th>
                    <th >GENDER</th>
                    <th >LANGUAGE</th>
                    <th >ADDRESS</th>
                </tr>
            </thead>
            <tbody class="tbody">

                @foreach (var item in ViewBag.userdata)
            {
                    <tr>
                        <td style="visibility:hidden">@item.id</td>
                        <td >@item.name</td>
                        <td>@item.password</td>
                        <td>@item.email</td>
                        <td>@item.phno</td>
                        <td>@item.dateofbirth</td>
                        <td>@item.gender</td>
                        <td>@item.language</td>
                        <td class="gfg">@item.address</td>

                    </tr>
                }



            </tbody>

        </table>
    </div>
</body>
</html>
